<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.splendidsky.bronzeragent">

    <!--    添加权限    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--    指定接受广播的类    -->
        <receiver android:name=".ConnectServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="CONNECT_SERVICE_START" />
                <action android:name="CONNECT_SERVICE_STOP" />
            </intent-filter>
        </receiver>

        <!--指定服务类-->
        <service android:name=".ConnectService"></service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>